/*** General ***/

body {
  background-color: #0a0a28;
  font-family: 'Russo One';
}

section {
    width: 100%;
    height: 100vh;
}

.arrow {
    font-size: 2em;
    color: #00b2ff;
}

/*** Header ***/

header {
  margin-top: 0.5em;
  font-size: 2.2em;
  margin-left: 3%;
  margin-right: 3%;
}

@media (min-width: 768px) {
  header {
    margin-top: 1em;
    font-size: 2.5em;
  }
}

@media (min-width: 992px) {
  header {
    margin-top: 1em;
    font-size: 3em;
  }
}

#logo {
  width: 310px;
  height: 92px;
}

@media (min-width: 576px) {
  #logo {
    width: 413px;
    height: 122px;
  }
}

@media (min-width: 992px) {
  #logo {
    width: 495px;
    height: 147px;
  }
}

#download-ico {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    color: #007bff;
  }
  100% {
    color: #cd0202;
  }
}

/*** Navigation ***/

.navbar-dark .navbar-nav .nav-link {
  color: #00aeef;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #0a0a28;
  background-color: #00aeef;
}

.nav-item {
  border: 1px solid #00aeef;
  line-height: 1;
  margin: 5px;
}

.navbar-toggler {
  margin: 0px auto;
}

.navbar-dark .navbar-toggler {
  color: rgba(255,13,13,0);
  border-color: rgba(0,0,0,0);
}

/*** Video ***/

iframe {
  width: 336px;
  height: 189px;
  margin-top: 20px;
  margin-bottom: 70px;
}

@media (min-width: 576px) {
  iframe {
    width: 550px;
    height: 305px;
    margin-top: 30px;
    margin-bottom: 75px;
  }
}

@media (min-width: 768px) {
  iframe {
    width: 700px;
    height: 394px;
    margin-top: 40px;
    margin-bottom: 70px;
  }
}

/*** About ***/

#about-us {
  padding-top: 20px;
}

#about-banner {
  border: 5px solid #00aeef;
  border-radius: 10px;
  opacity: 0.7;
  padding-top: 5px;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  #about-banner {
    border: 5px solid #00aeef;
    border-radius: 10px;
    opacity: 0.7;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  #about-banner {
    border: 5px solid #00aeef;
    border-radius: 10px;
    opacity: 0.7;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  #about-banner {
    border: 5px solid #00aeef;
    border-radius: 10px;
    opacity: 0.7;
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

#about-heading {
  color: #0c95b9;
}

@media (min-width: 576px) {
  #about-heading {
    font-size: 3em;
  }
}

@media (min-width: 768px) {
  #about-heading {
    font-size: 4em;
  }
}

@media (min-width: 992px) {
  #about-heading {
    font-size: 5em;
    padding-right: 15px;
  }
}

#brain-pic {
  width: 459px;
  height: 546px;
  margin-top: -61px;
  margin-left: 52px;
}

@media (max-width: 991px) {
  #brain-pic {
    display: none;
  }
}

@media (min-width: 300px) {
  #about-text {
    letter-spacing: normal;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (min-width: 576px) {
  #about-text {
    letter-spacing: normal;
    font-size: 24px;
    text-align: center;
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  #about-text {
    letter-spacing: normal;
    font-size: 28px;
    text-align: center;
    padding-bottom: 40px;
  }
}

@media (min-width: 992px) {
  #about-text {
    letter-spacing: normal;
    font-size: 23px;
    text-align: center;
    padding-bottom: 15px;
  }
}

.mb-0 {
  font-family: 'Ruda';
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* Products */

#products-page {
  padding-top: 20px;
}

@media (max-width: 991px) {
  .pill-pic {
    display: none;
  }
}

@media (min-width: 992px) {
  .pill-pic {
    width: 72px;
    height: auto;
    margin: -7px;
  }
}

#products-banner {
  background-color: #00aeef;
  border: 5px solid #00aeef;
  border-radius: 10px;
  opacity: 0.7;
  padding-top: 5px;
  margin-bottom: 20px;
  color: #000000;
}

@media (min-width: 576px) {
  #products-banner {
    background-color: #00aeef;
    border: 5px solid #00aeef;
    border-radius: 10px;
    opacity: 0.7;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: #000000;
  }
}

@media (min-width: 768px) {
  #products-banner {
    background-color: #00aeef;
    border: 5px solid #00aeef;
    border-radius: 10px;
    opacity: 0.7;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 45px;
    color: #000000;
  }
}

@media (min-width: 992px) {
  #products-banner {
    background-color: #00aeef;
    border: 5px solid #00aeef;
    border-radius: 10px;
    opacity: 0.7;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    color: #000000;
  }
}

@media (min-width: 576px) {
  #products-banner h1 {
    font-size: 3em;
  }
}

@media (min-width: 768px) {
  #products-banner h1 {
    font-size: 4em;
  }
}

@media (min-width: 992px) {
  #products-banner h1 {
    font-size: 5em;
    padding-right: 28px;
  }
}

.drug-icon {
  width: 80px;
  height: auto;
  padding-bottom: 20px;
}

@media (min-width: 576px) {
  .drug-icon {
    width: 100px;
    height: auto;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .drug-icon {
    width: 110px;
    height: auto;
    padding-bottom: 25px;
  }
}

@media (min-width: 992px) {
  .drug-icon {
    width: 175px;
    height: auto;
    padding-bottom: 40px;
  }
}

#products {
  margin-bottom: 16px;
}

.arrow2 {
  padding-top: 1em;
  font-size: 2em;
  color: #00b2ff;
}


